html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Montserrat", sans-serif;

}
#map {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;

    /*background-color: navy;*/
}
div {
    z-index: 1;
}
.bottom-bar {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #F6F6DB;
    text-align: left;
    background-color: rgba(6,28,19,0.4);
    height: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.profile-card{
    cursor: pointer;
    display: flex;
    position: relative;
    flex-direction:row;
    flex-wrap:nowrap;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    width: 14rem;
    background-color: #104730;
    color: #F6F6DB;
    border-radius: 4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: background-color 0.3s;
}
.profile-card:hover {
    background-color: #103730;
}
.pfp { /*persons pfp*/
    border-radius: 50%;
    height:100%;
    object-fit: contain;
    margin-right: 1em;
}
.info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.name { /*persons name*/
    position: relative;
    font-size: 1.75rem;
    font-weight: bold;
    height: 2rem;
    text-align: left;
}
.streak {
    font-weight: bold;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0.2rem 0.6rem 0.2rem 0.4rem;
    font-size: 1.5rem;
    border-radius: 1.9rem;
    border: 0.1rem lime solid;
    width: fit-content;
    background-color: rgba(26, 31, 47, 0.74);
}
.streak svg{
    height: 100%;
    border-right: 0.1rem lime solid;
    margin-right: 0.3rem;
}
p {
    margin: 0;
}
.red {

}
.yellow {

}
.green {

}

.top-bar{
    position: fixed;
    left: 50%;
    width: 21rem;
    margin-left: -10.5rem;
    top: 0;
    text-align: center;
}
.top-left{
    height:5rem;
    position: fixed;
    left:0;
    top:0;
    padding-top: 1rem;
    padding-left: 0.5rem;
}
.top-right{
    height:3rem;
    width: 3rem;
    position: fixed;
    right:0;
    top:0;
    margin-top: 1rem;
    margin-right: 1rem;
}
.calendar{
    position: relative;
    font-weight: bold;
    top: 1rem;
    width: 100%; /*change above*/
    height: 3rem;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background: #F6F6DB;
    border: solid #104730 5px;
    border-radius: 250px;
    font-size: 1.25rem;
    z-index: 3;
}
.day{
    flex-grow: 1;
    flex-basis: 0;
    display: inline-block;
}
.missed{
    flex-grow: 1;
    display: inline-block;
    top:50%;
    color: lightgray;
}
.highlight{
    /*display: none;*/
    background: green;
    height: 2rem;
    position: absolute;
    width: 0; /*2rem;*/
    top: 0.3rem;
    margin-left: 0.3rem;
    z-index: -2;
    border-radius: 2rem;
    border: 0.2rem rgba(0,0,0,0) solid;
    transition: width 2s ease-in-out, border-color 1.5s ease-in-out;
    transition-delay: 0s, 2s;
}
.last-num{
    transition: font-size 1s cubic-bezier(.5, 0, .5, 2);
    transition-delay: 1s;
}
.cam-container{
    border: none;
    background-color:transparent;
    position: relative;
    top:0.1em;
    cursor: pointer;
}
.cam-svg{
    height:1.5em;
    cursor: pointer;
    transition: height 1s cubic-bezier(.5, -1, .5, 0);
}
.chal-container{
    background: #104730;
    border: solid #104730 5px;
    color: #F6F6DB;
    position: absolute;
    top: 75%;
    padding-top: 2rem;
    border-radius: 0 0 1.5rem 1.5rem;
    text-align: left;
    padding-left: 1.5rem;
    width: 19.5rem;
    height: 0;
    transition: height 2s cubic-bezier(.57,.08,.23,1.02);
    overflow: hidden;
}
.chal-container h2{
    margin: 0px;
}
.chal-txt{
    margin: 0.25rem 0 0.5rem 0;
}
#cameraPopup{
    display: none;
    position: absolute;
    text-align:center;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}
.hidden{
    display: none;
}
.shown{
    display: block;
}
.center{
    margin: 0 auto;
}